
#container {
    margin: auto;
    align-content: center;
}

button {
    margin: auto;
    height: 50px;
    width: 100px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

#result {
    margin: 12px;
}